@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&Roboto&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

:root {                               
  --primary: #9356dc;
  --secondary: #ff79da;
  --tertiary: #99e2d0;
  --footer-color: #353535;
  --grey-background: #f2f2f2;
  --grey-shadow: #e7e7e7;
  --dark-grey-shadow: #c6c6c6;
  --grey-icon: #808080;
  --green-new: #008766;
  --blue-working: #deebff;
}

@keyframes progressive { /*-- Animation menu --*/
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes elipse { /*-- text-overflow des menus lors du hover --*/
  0% {
    width: 90%;
  }
  100% {
    width: 60%;
  }
}

@keyframes flash { /*-- Animation des lettres --*/
  0% {
      color: var(--primary);
      text-shadow: 0 0 7px var(--primary);
  }
  90% {
      color: var(--secondary);
      text-shadow: none;
  }
  100% {
      color: var(--tertiary);
      text-shadow: 0 0 7px var(--tertiary);
  }
}

@keyframes spinner-off { /*-- Animation du loading spinner --*/
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
  }
}

@keyframes coeur { /*-- Animation du coeur du loading-spinner --*/
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

@keyframes scroll { /*-- Animation pour pas scroll lors du loading spinner --*/
  0% {
    overflow-y: hidden;  
  }
  100% {
    overflow-y: auto;
  }
}

/*---------- Loading spinner ----------*/

.spinner_loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999;
  display: flex; 
  justify-content: center;
  align-items: center;
  animation: spinner-off 1s 3s ease forwards;
}

/*---------- Coeur du loading spinner ----------*/

.coeur {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
 }

.coeur div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 16px;
  height: 16px;
  background: var(--secondary);
  animation: coeur 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.coeur div:after,
.coeur div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  background: var(--secondary);
}
.coeur div:before {
  left: -10px;
  border-radius: 50% 0 0 50%;
}
.coeur div:after {
  top: -10px;
  border-radius: 50% 50% 0 0;
}

/*---------- Lettres du loading spinner ----------*/

.lettre {
  color: var(--primary);
  font-size: 1.7rem;
  font-family: "Shrikhand";
  letter-spacing: 5px;
  animation: flash 1.2s linear infinite;
}

.lettre:nth-child(1){
  animation-delay: 0.1s;
}
.lettre:nth-child(2){
  animation-delay: 0.2s;
}
.lettre:nth-child(3){
  animation-delay: 0.3s;
}
.lettre:nth-child(4){
  animation-delay: 0.4s;
}
.lettre:nth-child(5){
  animation-delay: 0.5s;
}
.lettre:nth-child(6){
  animation-delay: 0.6s;
}
.lettre:nth-child(7){
  animation-delay: 0.7s;
}
.lettre:nth-child(8){
  animation-delay: 0.8s;
}
.lettre:nth-child(9){
  animation-delay: 0.9s;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.accueil{/* Pas de scroll possible pendant le loading spinner*/
  animation: scroll 6s ease-in-out;
}

  [type="search"] {/* Pas de bordure autour de la barre de recherche*/
   outline: none;
}

/*---------- Css des ul ----------*/

  ul {
    list-style: none;
  }

  .fonctionnement ul {
    padding-left: 10%;
  }

  footer ul { 
    margin: 0;
  padding-bottom: 30px
  }

  .article_menu ul {
    display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  padding: 0;
   }

   /*---------- Css des liens ----------*/

  a {
    color: inherit;
    text-decoration: none;
  }

  .section_bienvenue a {
    border: none;
   border-radius: 30px;
   padding: 18px 30px 18px 30px;
   text-decoration: none;
   color: #fff;
   background: linear-gradient(var(--primary), var(--secondary));
   box-shadow: 0 5px 5px 5px darkgray;
   }

  .article_menu a {
    margin: auto;
    margin-bottom: 70px;
   border-radius: 30px;
   padding: 18px 50px 18px 50px;
   width: 21%;
   text-align: center;
   color: #fff;
   background: linear-gradient(var(--primary), var(--secondary));
   box-shadow: 0 5px 5px 5px var(--grey-shadow);
  }

  footer a {
  display: flex;
  align-items: center;
  height: 20px;
  }

/*---------- Css des puces ----------*/

footer li {
  padding-bottom: 10px;
  }   

.fonctionnement li {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-bottom: 25px;
  border-radius: 20px;
  padding: 8px 12px 8px 0;
  width: 85%;
  box-shadow:0 5px 5px 5px var(--grey-shadow);
 background-color: var(--grey-background);
 cursor: pointer;
}

.article_menu li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 18px;
  padding: 12px 0 15px 12px;
  width: 90%;
  box-shadow: 5px 5px 3px var(--dark-grey-shadow);
  background-color: #fff;
  cursor: pointer;
   }

/*----------Css du header ainsi que du logo ohmyfood  ----------*/
   
header {
  padding:20px 0;
}

.img_logo {
  display: flex;
  margin: auto;
  max-width: 300px;
}

/*---------- Css du form et de la barre de recherche ----------*/

form {
      margin: auto;
      padding: 25px 0 25px 0;
      width: 100%;
      text-align: center;
	    background-color: var(--grey-shadow);	
    }

form input {
    border: none;
    text-align: center;
   background-color: var(--grey-shadow);
   
  }

/*---------- Css et mise en place de la section bienvenue----------*/

  .section_bienvenue {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 30px 0 50px 0;
    background-color: var(--grey-background); 
  }

  .section_bienvenue h1,
  .section_bienvenue p {
    margin: 0;
    width: 90%;
    text-align: center;
  }

  .section_bienvenue h1 {
    padding-bottom: 10px; 
  }
  
  .section_bienvenue p {
    padding-bottom: 20px;
  }

/*---------- Css de la section fonctionnement----------*/

.fonctionnement h2 {
    margin: auto;
    padding-bottom: 10px;
    width: 90%;
  }

.fonctionnement .fa-solid {
    margin:0px 30px 0 35px;
    font-size: 20px;
    text-decoration: none;
}   

.numero {
  position: absolute;
  left: -11px;
  border-radius: 100%;
  padding: 3px 8px;
  font-size: 18px;
  background-color: var(--primary);
  color: #fff;
}

 .fa-mobile-screen-button, .fa-list, .fa-store {
  color: var(--grey-icon);
}


main article {
  display: flex;
  flex-direction: column;
  padding: 50px 0 10px 0;
  width: 100%;
  background-color: var(--grey-background);
}

article h2 {
  margin: auto;
  width: 85%;
}

/*---------- Css des cards des restaurants dans l'index ----------*/

.carte {
 display: flex;
 flex-direction: column;
 position: relative;
 overflow: hidden;
 margin: 20px;
 border-radius: 30px;
 height: 300px;
 box-shadow:0 5px 5px 5px var(--grey-shadow);
 background-color: #fff;
}

.carte img {
  overflow: hidden;
  width: 100%;
 height: 100%;
 object-fit: cover;
}

.carte h3 {
  margin: 20px 0 0 15px;
  color: black;
}

.carte p {
 margin: 5px 0 0 15px;
 color:black;
}

.carte i {
position: absolute;
 right: 30px;
 bottom: 30px;
 font-size: 35px;
 cursor: pointer;
}

.nouveau {
position: absolute;
right: 15px;
top: 15px;
border-radius: 2px;
padding: 5px 10px;
font-weight: 600;
background-color: var(--tertiary);
color: var(--green-new);
cursor: pointer;
}

/*---------- Header des pages restaurant ----------*/

.header_menu {
  position: relative;
 padding-top: 12px;
 padding-bottom: 0;
}

.header_menu i {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 25px;
}

.header_menu img {
  display: flex;
 margin: auto;
 width: 50%;
}

/*----------Css de l'image des restaurants dans les pages restaurant ----------*/

.superposition {
  height: 288px
}

.img_menu {
  width: 100%;
  max-height: 500px;
  min-height: 360px;
  object-fit: cover;
}

/*---------- Css des noms des restaurants ainsi que du coeur qui les accompagne dans les pages restaurant ----------*/

.titre_resto {
display: flex;
align-items: center;
margin:-55px 0px 2px 3px;
font-family: Shrikhand, cursive;
}

.titre_resto h1 {
  font-size: 1.75em;
  margin:20px;
}

.titre_resto i {
  position: absolute;
  right: 20px;
  font-size: 30px;
}

header .fa-solid.fa-heart {
  font-size: 30px;
}

/*---------- Css des menus des restaurants ----------*/

.article_menu {
  display: flex;
  position: relative;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: var(--grey-background);
}

.article_menu h2 {
  font-weight: normal;
  text-transform: uppercase;
 }

 .article_menu h2::after {
  display: block;
  border-bottom: 3px solid var(--tertiary);
  padding-top: 5px;
  width: 45px;
  font-size: 0;
  content: ".";
}

.article_menu h3 {
  overflow: hidden;
  margin: 0;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  font-size: 16px;
}

.article_menu p {
  overflow: hidden;
  margin: 0 10px 0 0;
  text-overflow: ellipsis;
  font-size: 13px;
 }

.article_menu b {
  display: block;
  margin-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  transition: 0.3s all linear;
}

.menu_texte {
  overflow: hidden;
  width: 90%;
white-space: nowrap;
}

/*---------- Css du footer (commun à toutes les pages)----------*/

footer {
background-color: var(--footer-color);
color: white;
}
  
footer h3 {
margin: 0;
padding: 30px 0 20px 36px;
font-size: 20px;
font-family: Shrikhand, cursive;
}
      
footer h4 {
  margin: 0;
  padding: 30px 0 20px 36px;
  font-size: 20px;
  font-family: Shrikhand, cursive;
}    

.fa-utensils {
    padding-right: 15px;
   }
   
.fa-handshake {
     padding-right: 10px;
}

/*---------- Css du check lors du survol des cartes de menu ----------*/

.menu_validation {
display: flex;
justify-content: center;
align-items: center;
position: absolute;
width: 62px;
right: -82px;
top: 0px;
border-radius: 0 18px 18px 0;
height: 100%;
background-color: var(--tertiary);
transition: 0.3s all linear;
}

.menu_validation i {
  font-size: 30px;
  color: #fff;
}

/*---------- Animation des menus lors du chargement des pages restaurant ----------*/

.entrees {
  animation: progressive 1s ease-in-out both;
}

.plats {
  animation: progressive 1s 0.5s ease-in-out both;
}

.desserts {
  animation: progressive 1s 1s ease-in-out both;
}

/*---------- Animation lors du survol ----------*/

.fonctionnement li:hover,
.fonctionnement li:focus {/*-- survol des li du fonctionnement --*/
transition: 500ms;
background-color: #f5edff ;
}

.fonctionnement li:hover .fa-mobile-screen-button, 
.fonctionnement li:focus .fa-mobile-screen-button {/*--Changement de couleur icone--*/
  color: var(--primary);
}

.fonctionnement li:hover  .fa-solid.fa-list,
.fonctionnement li:focus  .fa-solid.fa-list {/*--Changement de couleur icone--*/
  color: var(--primary);
}

.fonctionnement li:hover .fa-solid.fa-store,
.fonctionnement li:focus .fa-solid.fa-store {/*--Changement de couleur icone--*/
  color: var(--primary);
}

.fa-heart {/*-- Survol des coeurs --*/
  transition: color 1s ease-out;
    }

.fa-solid.fa-heart {
  font-size: 35px;
font-weight: bolder;
opacity: 0;
background-clip: text;
-webkit-background-clip: text;
color: transparent;
background-image: linear-gradient(var(--primary), var(--secondary));
transform: scale(1);
transition: all 1s ease;
cursor: pointer;
}

.fa-solid.fa-heart:hover {
  opacity: 1;
}

.article_menu li:hover,
.article_menu li:focus { /*-- survol des plats --*/
  transform: scale(1.05);
}

.article_menu li:hover .menu_validation,
.article_menu li:focus .menu_validation {/*--Animation du "check" lors du survol des plats--*/
 transform: translateX(-80px);
}

.article_menu li:hover b,
.article_menu li:focus b {/*-- Décalage du prix lors du survol et de l'animation check --*/
  transform: translate(-45px);
}

.article_menu li:hover .menu_texte {/*-- Gestion du text-overflow:ellipsis lors de l'animation check --*/
  animation: elipse 500ms ease forwards;
}

.article_menu li:hover i { /*-- Icone de check qui tourne--*/
  transition: all 700ms ease;
  transform: rotate(1turn);
}

.article_menu a:hover,
.article_menu a:focus {/*--Opacité lors du survol de "explorer"--*/
  opacity: 0.7;
}

.section_bienvenue a:hover, 
.section_bienvenue a:focus {/*--Opacité lors du survol de "commander"--*/
  opacity: 0.7;
}


@media (min-width: 768px) {
 
 main article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .titre_resto {
    justify-content: center;
margin: 0;
margin-right: 50px;
padding: 20px;
  }

  .titre_resto i {
    font-size: 35px;
  }

header .fa-solid.fa-heart {
    font-size: 35px;
  }

.titre_resto h1 {
  font-size: 2em;
margin: 0.67em 0;
}

 .article_menu{
  flex-direction: column;
}
  
article h2 {
    padding-bottom: 40px;
    font-size: 30px;
    margin-left: 38px;
  }

  footer ul {
    display: flex;
    justify-content: space-around;
    place-content: space-around;
    padding-right: 100px;
  }

article a {
    width: 50%;
  }

  footer h4 {
    font-size: 26px;
    text-align: center;
  }

footer li {
    text-align: center;
  } 

.titre_resto {
  justify-content: left;
padding: 0px 0px 20px 25px;
}

}

@media (min-width: 1200px) {

.fonctionnement h2 {
 text-align: center;
}

.fonctionnement ul {
  display: flex;
  justify-content: space-around;
  padding-left: 0%;
}

.fonctionnement li {
    width: 25%;
}

.article_menu {
  display: flex;
flex-direction: row;
flex-wrap: wrap;
}

.titre_resto {
  padding-bottom: 30px;
  width: 100%;
}

.section_menu {
  display: flex;
flex-direction: column;
margin: 0 0 auto;
padding-bottom: 30px;
width: 33%;
}

}
