@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');


  
@keyframes chargement { 
    0% {
      transform: scaleX(1);
      opacity: 1;
    }
    100% {
      transform: scaleX(0);
      opacity: 0;
    }
  }
  
@keyframes animation {
    0% {
        color :#99E2D0;
    }
    33% {
        color :#FF79DA; 
    }
    66% {
        color :#9356DC;
    }
    100% {
        color :#99E2D0;
    }
  }
  
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
  }
  
.bienvenue {
    animation: scroll 5s ease-in-out;
  }
  
.chargement {
    box-sizing:content-box;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    animation: chargement 1s 3s ease forwards;
  }

.loader {
    margin-bottom: 250px;
  }
  
.lettre {
    font-size: 45px;
    font-family: "Shrikhand";
    letter-spacing: 5px;
    animation: animation 1.2s linear infinite;
  }
  
.lettre:nth-child(1) {
    animation-delay: 0.1s;
  }
  
.lettre:nth-child(2) {
    animation-delay: 0.2s;
  }
  
.lettre:nth-child(3) {
    animation-delay: 0.3s;
  }
  
.lettre:nth-child(4) {
    animation-delay: 0.4s;
  }
  
.lettre:nth-child(5) {
    animation-delay: 0.5s;
  }
  
.lettre:nth-child(6) {
    animation-delay: 0.6s;
  }
  
.lettre:nth-child(7) {
    animation-delay: 0.7s;
  }v